# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Solution_details_\.txt

prof\.txt

profile1\.txt

bin/Debug/

.vs/GIFMod_API/v16/Browse.VC.db
*.iobj
*.ipch
*.opendb

*.db

.vs/

*.tlog

*.idb

*.ipdb

GIFMod_API/x64/Release/vc142.pdb

*.pdb
